/* body::before{
  display: block;
  content: '';
  height: 80px;
} */

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.instructor-icon {
  color: chartreuse;
}

.instructor-icon1 {
  color: darkviolet;
}


.instructor-icon2 {
  color:orangered;
}
